@define-color bg #12140d;
@define-color bg #202020;
@define-color fg #F6F6F6;
@define-color gray-bg #2a2a2a;
@define-color accent #63bac6;

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  min-height: 0;
  margin: 0px;
  color:#e7e7e7;
}

tooltip {
  background-color: @fg;
  border-radius: 12px;
  color: @bg;
  border: 0;
}

window#waybar {
  /* background: rgba(30, 30, 30, 0.8); */
  background: #1b1b1b;
  color: red;
}

tooltip label {
  color: @bg;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 0px 0px;
}

#workspaces {
  padding: 0px 2px;
  margin: 5px 5px;
}

#workspaces button {
  padding: 0px 0px;
  margin: 0px 2px;
  background: transparent;
  font-size: 12px;
  color: @fg;
  border-radius: 2px;
  transition: all 150ms ease-in-out;
}

#workspaces button.active {
  min-width: 25px;
  background: rgba(255, 255, 255, 0.1);
  background-color: @gray-bg;
  border-radius: 2px;
  color: #63b9c5;
}
#workspaces button.empty {
  color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  color: @fg;
  opacity: .5;
}



#battery {
  font-size: 18px;
  padding: 0px 0px;
  background: transparent;
  border-radius: 2px;
  margin: 5px 5px;
}

#backlight {
  padding: 0px 0px;
  background: transparent;
  border-radius: 2px;
  margin: 7px 5px;
  font-size: 16px;
}

#network {
  padding: 0 5px 0px 0px;
  background: transparent;
  border-radius: 2px;
  margin: 5px 5px;
}

#mpris {
  font-size: 16px;
  padding: 0px 11px;
  background: transparent;
  color: @fg;
  border-radius: 2px;
  margin: 7px 5px;
}

/* Apps */
#custom-launcher {
  padding: 3px 3px;
  margin: 0 10px;
  margin-right: 10px;
  font-size: 20px;
}

#custom-browser {
  padding: 3px 3px;
  margin: 0 14px;
  font-size: 19px;

}

#custom-files {
  padding: 3px 3px;
  margin: 0 14px;
  font-size: 19px;
}

#custom-gemini {
  padding: 3px 3px;
  margin: 0 14px;
  font-size: 18px;
}

#custom-monitor-rotate {
  padding: 3px 3px;
  margin: 0 12px;
  font-size: 20px;
}

#custom-special-workspace {
  padding: 3px 3px;
  margin: 0 12px;
  font-size: 19px;
}

#custom-code {
   padding: 3px 3px;
  margin: 0 14px;
  font-size: 20px;
}

/* #clock {
  padding: 0px 6px;
  margin: 10px 5px;
  border-radius: 2px;
  transition: all 150ms ease-in-out;
  font-weight: 600;
  font-size: 10px;
  border-radius: 6px;
} */

#clock {
  padding: 3px 3px;
  margin: 0 6px;
  font-size: 12px;
  font-weight: bold;

}


#pulseaudio {
  padding: 3px 3px;
  margin: 0 6px;
  transition: all 150ms ease-in-out;
  font-weight: bold;
  font-size: 12px;
}

#tray {
padding: 3px 3px;
  margin: 0 10px;
  font-size: 21px;}

#bluetooth {
  margin-right: 17px;
}

#custom-expand-icon {
  margin-right: 14px;
  font-size: 11px;
}

#network {
  padding: 3px 3px;
  margin: 0 6px;
  font-size: 17px;
}
#custom-power {
  padding: 3px 3px;
  margin: 0 6px;
  font-size: 14px;
}

tooltip {
  padding: 1px;
}

.hidden {
  opacity: 0;
}

#custom-launcher:hover,
#custom-browser:hover,
#custom-files:hover,
#custom-gemini:hover,
#custom-monitor-rotate:hover,
#custom-special-workspace:hover,
#custom-code:hover,
#custom-power:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#clock:hover,
#custom-expand-icon:hover {
  /* opacity: 0.6; */
  color: #63bac6;
}
