@define-color bg #12140d;
@define-color bg #202020;
@define-color fg #EDEDED;
* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
    min-height: 0;
    margin: 0px;
}

tooltip {
    background-color: @fg;
    border-radius: 15px;
    color: @bg;
    border: 0;
}

window#waybar {
background: rgba(0, 0, 0, 0.7);
    background: rgba(30, 30, 30, 0.4);
    color: @fg;
}

tooltip label {
    color: @bg;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 0px 0px;

}

#workspaces {
    padding: 0px 2px;
    margin: 10px 5px;
}

#workspaces button {
    padding: 0px 0px;
    margin: 0px 2px;
    background: transparent;
    font-size: 14px;
    color: @fg;
    border-radius: 4px;
    transition: all 150ms ease-in-out;
}

#workspaces button.active {
    min-width: 25px;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 4px;
}
#workspaces button.empty {
    color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

#clock {
    padding: 0px 5px;
    margin: 10px 5px;
    border-radius: 30px;
    transition: all 150ms ease-in-out;
 background-color: @fg;
    background: rgba(255, 255, 255, 0.05);

    color: white;
    font-weight: bold;
    border-radius: 5px;
    min-width: 36px;

}

#battery {
    font-size: 18px;
    padding: 0px 0px;
    background: transparent;
    border-radius: 30px;
    margin: 7px 5px;
}



#backlight {
    padding: 0px 0px;
    background: transparent;
    border-radius: 30px;
    margin: 7px 5px;
    font-size: 16px;
}

#network {
    padding: 0 5px 0px 0px;
    background: transparent;
    border-radius: 30px;
    margin: 7px 5px;
}

#mpris {
    font-size: 16px;
    padding: 0px 11px;
    background: transparent;
    color: @fg;
    border-radius: 30px;
    margin: 7px 5px;
}

#custom-launcher {
  padding: 2 4px;
  margin: 0 10px;
  font-size: 25px;
}

#custom-browser {
  padding: 2 4px;
  margin: 0 10px;
  font-size: 25px;
}

#custom-files {
  padding: 2px 4px;
  margin: 0 10px;
  font-size: 24px;
}

#custom-gemini {
  padding: 2px 4px;
  margin: 0 10px;
  font-size: 26px;
}

#custom-monitor-rotate {
  padding: 2px 4px;
  margin: 0 10px;
  font-size: 22px;
}

#custom-special-workspace {
  margin: 0 10px;
  padding: 2px 4px;
  font-size: 32px;
}

#custom-code {
  margin: 0 10px;
  padding: 2px 4px;
  font-size: 26px;
}

#pulseaudio {
    background-color: @fg;
    background: rgba(255, 255, 255, 0.05);
    color: white;
    font-weight: bold;
    margin: 10px 6px;
    border-radius: 5px;
    min-width: 36px;

}


#network {
  margin-right: 2px;
  margin-left: 6px;
  padding: 0 4px;
  font-size: 22px;
}
#custom-power {
  margin-right: 2px;
  margin-left: 6px;
  padding: 0 4px;
  font-size: 18px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}




#custom-expand-icon {
  margin-right: 14px;
}

tooltip {
  padding: 1px;
}

.hidden {
  opacity: 0;
}


#custom-chrome:hover,
#custom-files:hover,
#custom-gemini:hover,
#custom-monitor-rotate:hover,
#custom-special-workspace:hover,
#custom-code:hover,
#custom-power:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#clock:hover,
#custom-expand-icon:hover {
  opacity: 0.8;
}
