* {
  all: unset;
  font-family: "NotoSansM Nerd Font Propo", monospace;
}

window#waybar {
  background-color: #1b1b1b;
  color: #c4c4c4;
}

.modules-left,
.modules-right {
  margin-left: 10px;
  margin-right: 10px;
}

#workspaces {
  min-width: 100px;
  font-size: 0.3rem;
  padding: 0px 4px;
  margin: 11px 0px;
  border-radius: 9px;
  background-color: transparent;
}

#workspaces button {
  background-color: rgba(99, 208, 223, .3);
  color: transparent;
  padding: 0px 5px;
  border-radius: 9px;
  margin: 0 2px;
  min-width: 4px;
}

#workspaces button.empty {
  background-color: rgba(255, 255, 255, .1);
}

#workspaces button.active {
  background-color: #63d0df;
  min-width: 1.2rem;
  transition: none;
}

#custom-windowCount {
  font-size: 14px;
  font-weight: bold;
  padding: 0 3 0 16;
}

#custom-browser,
#custom-files,
#custom-code,
#custom-ai,
#custom-monitor-rotate,
#custom-special-workspace {
  padding: 0 16;
  font-size: 20px;
}

#custom-expand-icon {
  font-size: 13px;
  padding: 0 10 0 10;
}

#network {
  font-size: 13px;
  padding: 0 10 0 10;
}

#custom-power {
  font-size: 13px;
  padding: 0 15 0 10;
}



#pulseaudio {
  font-size: 11px;
  font-weight: bold;
  min-width: 46px;
  padding: 0 12 0 12;
}

#clock {
  font-weight: bold;
  font-size: 11px;
  padding: 0 0 0 0;
}

#custom-browser:hover,
#custom-files:hover,
#custom-code:hover,
#custom-ai:hover,
#custom-monitor-rotate:hover,
#custom-special-workspace:hover,
#custom-expand-icon:hover,
#network:hover,
#custom-power:hover,
#clock:hover,
#pulseaudio:hover {
  color: #63d0df;
}